@charset "utf-8";
/* CSS Document */

/* Page 
   상세한 값을 설정합니다. */

/* Annotator 0.41 */

.root.tool {
	position: inherit;
	display: inherit;
	
	/* Size */
	width: inherit;
	height: inherit;
}

.annotator {
	position: inherit;
	display: flex;
	flex-direction: column;
	
	/* Size */
	width: inherit;
	height: inherit;
	
	overflow: hidden;
	
	background-color: #1e1f1f;
	
	font-weight: 400;
	
	user-select: auto;
}

.annotator-header {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;


	margin-bottom: 1px;

	/* Size */
	height: 72px;

	border-bottom: 1px;
}

.navigation {
	display: flex;

	position: relative;
	box-sizing: border-box;

	height: 44px;
	max-height: 100%;

	margin: 0 1px 0 0;

	flex-direction: row;

	justify-content: center;
	align-content: center;
	align-items: center;
	
	background: #373838;
}

.image-annotator .toolbar {
	position: relative;
	
	box-sizing: border-box;
	width: 52px;
	
	background: #373838;
	
	overflow-y: auto;
}

.image-annotator .toolbar__buttons {
	position: relative;
	
	padding: 10px 0;
	max-width: 100%;
	
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.image-annotator .toolbar__buttons, 
.image-annotator .button {
	position: relative;
	
	padding: 10px 0;
	max-width: 100%;
	
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.image-annotator .toolbar-button {
	margin: 5px 0px;
	height: 32px;
	width: 32px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 3px;
	background: transparent no-repeat 50% 50%;
}

.annotator .panel {
	display: flex;

	padding: 0;

	width: 314px;
	height: 100%;

	flex-direction: column;

	background: #373838;

	overflow-y: auto;
}
