@charset "utf-8";
/* CSS Document */

/* TOOL 0.11 */

.root.tool.annotator.container {
	display: flex;
	flex-direction: row;
	
	width: 100%;
	height: 100%;
	
	background-color: var(--annotator-backgorund);
	
	
	overflow: hidden;
}

.toolbar {
	width: 4em;
	
	background-color: var(--annotator-tool-container);
}

.wrokspace {
	width: 100%;
	height: 100%;
}



