@charset "utf-8";
/* CSS Document */

/* Annotator 0.42 (2021-02-22)
   페이지의 상세한 속성과 값을 설정합니다. */

.tool-root {
	position: inherit;
	display: inherit;
	
	/* Size */
	width: inherit;
	height: inherit;
}

.tool-annotator {
	position: inherit;
	display: flex;
	
	/* Size */
	width: inherit;
	height: inherit;
	
	/* Align Content*/
	flex-direction: column;
	
	/* Color */
	background-color: #1e1f1f;
	
	/* Content */
	font-weight: 400;
	
	overflow: hidden;
	
	/* Cursor */
	user-select: auto;
}

.tool-annotator__header {
	position: relative;
	display: flex;
	
	/* Size */
	box-sizing: border-box;

	max-height: 100%;
	height: 72px;	

	margin-bottom: 1px;
	
	/* Border */
	border-bottom: 1px;
	
	/* Align Item */
	align-items: center;
	flex-direction: row;
	
	/* Align Content */
	justify-content: center;
	align-content: center;
	
	/* Color */
	background: #424242;
}

.tool-annotator__navigation {
	display: flex;

	position: relative;

	/* Size */
	box-sizing: border-box;

	height: 44px;
	max-height: 100%;

	margin: 0 1px 0 0;
	
	/* Align Item */
	align-items: center;
	flex-direction: row;
	
	/* Align Content */
	justify-content: center;
	align-content: center;

	/* Color */
	background: #373838;
}

.annotator__toolbar {
	position: relative;
	display: flex;
	
	/* Size */
	box-sizing: border-box;
	
	height: 100%;
	width: 52px;
	
	/* Align Item */
	flex-direction: column;
	
	/* Color */
	background: #373838;
	
	/* Content Space */
	overflow-y: auto;
}

.annotator__toolbar__buttons {
	position: relative;
	
	/* Size */
	padding: 10px 0;
	
	max-width: 100%;
	
	/* Align Content */
	justify-content: flex-start;
	align-content: center;
	
	/* Align Item */
	align-items: center;
}

.annotator__toolbar__button {
	/* Size */
	height: 32px;
	width: 32px;
	
	margin: 5px 0px;
	
	/* Border */
	border: 1px solid transparent;
	border-radius: 3px;
	
	/* Color */
	background: transparent no-repeat 50% 50%;
	
	/* Cursor */
	cursor: pointer;
}

.annotator .panel {
	display: flex;

	/* Size */
	padding: 0;

	width: 314px;
	height: 100%;

	/* Align Item */
	flex-direction: column;

	/* Color */
	background: #373838;
	
	/* Content Space */
	overflow-y: auto;
}
